.heading_font{
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 30px;
    color: #8748F8;

}
#trash_all{
    font-size: 19px;
    text-align: center;
}
#each_delete:hover{
    cursor: pointer;
}
.download_btn{
    background-color: #8748F8;
    border: none;
    position: absolute;
    left:487px;
    top: 70px;
    padding: 10.3px;
    width: 40px !important;
}
.download_btn :active{
    background-color: #8748F8 !important;
   
}
@media (max-width: 800px) {
    .download_btn{
        position: absolute;
        left: 290px !important;
    }
}